.header-wrap {
  width: 100%;
  background: #fff;
  min-width: 1280px;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}

.header-fixed-left {
  position: absolute;
  top: 100px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 18px;
  z-index: 10;

  .gmt {
    font-weight: 500;
  }

  .user-info {
    font-weight: 400;
  }

  .admin-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;

    input[type='checkbox'] {
      margin: 0 2px 0 0;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }

    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.header-main-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 82px;
  padding-top: 25px;
}

.header-logo-row {
  display: flex;
  align-items: center;
  gap: 14px;

  .header-logo {
    height: 58px;
    object-fit: contain;
  }

  .header-logo-title {
    font-size: 29px;
    font-weight: bold;
    color: #66be80;
    margin-top: 2px;
    letter-spacing: 0.5px;
  }
}

.header-right {
  position: absolute;
  right: 3px;
  top: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;

  .header-link {
    color: #222;
    text-decoration: none;
    font-size: 18px;
  }

  .header-divider {
    margin: 0 9px;
    color: #aaa;
  }

  .header-icons {
    display: inline-flex;
    align-items: center;

    .icon {
      margin-left: 5px;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.header-nav {
  margin-top: 20px;
  background: #66be80;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.header-nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  li {
    display: flex;
    align-items: center;

    .nav-link {
      font-size: 25px;
      padding: 0 40px;
      height: 55px;
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      transition:
        background 0.12s,
        color 0.12s;

      &.active {
        background: #fff;
        font-weight: 700;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
        color: #222;
      }

      &:hover:not(.active) {
        background: #5caf7b;
      }
    }
  }
}
